node_modules
.npm-cache
dist
.DS_Store
*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/interim/*
!data/interim/.gitkeep
